<form>
  <div class="form-group row">
    <label for="pokemonNumber" class="col-form-label">Number:</label>
    <div>
      <input type="text" class="form-control" id="pokemonNumber">
    </div>
    <label for="pokemonName" class="col-form-label">Name:</label>
    <div>
      <input type="text" class="form-control" id="pokemonName">
    </div>
    <label for="pokemonType" class="col-form-label">Type:</label>
    <div>
      <input type="text" class="form-control" id="pokemonType">
    </div>
    <label for="pokemonRegion" class="col-form-label">Region:</label>
    <div>
      <input type="text" class="form-control" id="pokemonRegion">
    </div>
  </div>
</form>