<form>
  <div class="form-group row">
    <div class="col-2">
      <label for="pokemonNumber" class="col-form-label">Number:</label>
      <input type="text" class="form-control" id="pokemonNumber">
    </div>
    <div class="col-4">
      <label for="pokemonName" class="col-form-label">Name:</label>
      <input type="text" class="form-control" id="pokemonName">
    </div>
    <div class="col-3">
      <label for="pokemonType" class="col-form-label">Type:</label>
      <input type="text" class="form-control" id="pokemonType">
    </div>
    <div class="col-3">
      <label for="pokemonRegion" class="col-form-label">Region:</label>
      <input type="text" class="form-control" id="pokemonRegion">
    </div>
  </div>
</form>