<app-header (pokemonComponent)="manageComponent($event)"></app-header>
<div class="container">
    <div class="row">
        <div class="col">
            <app-pokemon-data (pokemonComponent)="manageComponent($event)" *ngIf="component === 'pokemon-data'"></app-pokemon-data>
            <app-pokemon-form (pokemonComponent)="manageComponent($event)" *ngIf="component === 'pokemon-form'"></app-pokemon-form>
            <app-pokemon-info (pokemonComponent)="manageComponent($event)" *ngIf="component === 'pokemon-info'"></app-pokemon-info>
        </div>
    </div>
</div>