<div class="card" [ngStyle]="{'border': pokemon.isLegendary?'2px solid gold':'2px solid silver'}">
  <img (click)="toComponent('pokemon-info')" class="card-img-top img-responsive" src="{{pokemon.imagePath}}" alt="{{pokemon.pokeName}}">
  <div class="card-img-overlay text-right">
    <a href="#" class="">Coração</a>
  </div>
  <div class="card-body">
    <h5 class="text-center card-title"><span>#{{pokemon.pokeNumber}}</span> {{pokemon.pokeName}}
      ({{pokemon.regionName}})</h5>
    <hr>
    <div class="col-12 text-center">
      <p class="col d-inline" *ngFor="let t of pokemon.type; index as i">{{pokemon.type[i]}}</p>
    </div>
    <hr>
    <div class="col-12 text-center">
      <p class="col d-inline" *ngIf="pokemon.evolution.length === 0; else evolList">No Evolutions</p>
      <ng-template #evolList>
        <p class="col d-inline" *ngFor="let e of pokemon.evolution; index as i">{{pokemon.evolution[i]}}</p>
      </ng-template>
    </div>
  </div>
</div>