<div class="card" [ngStyle]="{'border': pokemon.isLegendary?'2px solid gold':'2px solid silver'}">
  <!-- TENTAR MUDAR O ROUTER LINK PASSANDO PARAMETRO PRO CARD (mudar routerLink atual) -->
  <img routerLink="pokemon/{{pokemon.number}}" class="card-img-top img-responsive" src="{{pokemon.imageURL}}" alt="{{pokemon.name}}">
  <!-- <div class="card-img-overlay text-right">
    <a href="#" class="">Coração</a>
  </div> -->
  <div class="card-body">
    <h5 class="text-center card-title"><span>#{{pokemon.number}}</span> {{pokemon.name}}
      ({{pokemon.regionName}})</h5>
    <hr>
    <div class="col-12 text-center">
      <p class="col d-inline" *ngFor="let t of pokemon.type; index as i">{{pokemon.type[i]}}</p>
    </div>

    <!-- DECIDIR SE DEIXA ESSA PARTE NO CARTÃO (PROBABLY NOT) -->
    <!-- <hr>
    <div class="col-12 text-center">
      <p class="col d-inline" *ngIf="pokemon.evolution.length === 0; else evolList">No Evolutions</p>
      <ng-template #evolList>
        <p class="col d-inline" *ngFor="let e of pokemon.evolution">{{e.name}}</p>
      </ng-template>
    </div> -->
  </div>
</div>